{% extends "mail_templated/base.tpl" %}
{% load i18n %}

{% block subject %}{% translate 'Confirm Your Email Address' %}{% endblock %}

{% block body %}
{% translate 'Hi,' %}

{% translate 'Please use the link below to verify your email address:' %}

{{ link }}

{% translate 'Thank you!' %}
{% endblock %}

{% block html %}
{% get_current_language as LANGUAGE_CODE %}
{% spaceless %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% translate 'Confirm Your Email Address' %}</title>
</head>
<body>
  <p>{% translate 'Hi,' %}</p>
  <p>{% translate 'Please use the link below to verify your email address:' %}<br><a
        href="{{ link }}">{% translate 'Confirm Your Email Address' %}</a></p>
  <p>{% translate 'Thank you!' %}</p>
</body>
</html>
{% endspaceless %}
{% endblock %}
